Repository Accio1/theforumhelpers.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: pr - status%3A unreviewed, type%3A Forum Helpers List, type%3A documentation

Update FHP.js
  forumhelpers/FHP.js
Labels: none

Update stylesheet.css
  resources/stylesheet.css
Labels: none

Update imports.js
  resources/imports.js
Labels: none

Update imports.js
  resources/imports.js
Labels: none

Update imports.js
  resources/imports.js
Labels: none

Update imports.js
  resources/imports.js
Labels: none

Update imports.js
  resources/imports.js
Labels: none

Update imports.js
  resources/imports.js
Labels: none

Update imports.js
  resources/imports.js
Labels: none

Update imports.js
  resources/imports.js
Labels: none

Update imports.js
  resources/imports.js
Labels: none

Update imports.js
  resources/imports.js
Labels: none

Update FHP.js
  forumhelpers/FHP.js
Labels: none

Update imports.js
  resources/imports.js
Labels: none

Add files via upload
  theforumhelpers.github.io/404.html
  theforumhelpers.github.io/CONTRIBUTING.md
  theforumhelpers.github.io/LICENSE
  theforumhelpers.github.io/README.md
  theforumhelpers.github.io/contributors/index.html
  theforumhelpers.github.io/forumhelpers/FHP.js
  theforumhelpers.github.io/forumhelpers/curators.json
  theforumhelpers.github.io/forumhelpers/index.html
  theforumhelpers.github.io/forumhelpers/managers.json
  theforumhelpers.github.io/forumhelpers/past.json
  theforumhelpers.github.io/index.html
  theforumhelpers.github.io/privacy/index.html
  theforumhelpers.github.io/quotes/index.html
  theforumhelpers.github.io/resources/Taco-wizard.svg
  theforumhelpers.github.io/resources/arrow.svg
  theforumhelpers.github.io/resources/coder.png
  theforumhelpers.github.io/resources/expandable.svg
  theforumhelpers.github.io/resources/favicon.png
  theforumhelpers.github.io/resources/icon.png
  theforumhelpers.github.io/resources/imports.js
  theforumhelpers.github.io/resources/stylesheet.css
  theforumhelpers.github.io/resources/theme.js
Labels: none

Delete theforumhelpers.github.io directory
  theforumhelpers.github.io/404.html
  theforumhelpers.github.io/CONTRIBUTING.md
  theforumhelpers.github.io/LICENSE
  theforumhelpers.github.io/README.md
  theforumhelpers.github.io/contributors/index.html
  theforumhelpers.github.io/forumhelpers/FHP.js
  theforumhelpers.github.io/forumhelpers/curators.json
  theforumhelpers.github.io/forumhelpers/index.html
  theforumhelpers.github.io/forumhelpers/managers.json
  theforumhelpers.github.io/forumhelpers/past.json
  theforumhelpers.github.io/index.html
  theforumhelpers.github.io/privacy/index.html
  theforumhelpers.github.io/quotes/index.html
  theforumhelpers.github.io/resources/Taco-wizard.svg
  theforumhelpers.github.io/resources/arrow.svg
  theforumhelpers.github.io/resources/coder.png
  theforumhelpers.github.io/resources/expandable.svg
  theforumhelpers.github.io/resources/favicon.png
  theforumhelpers.github.io/resources/icon.png
  theforumhelpers.github.io/resources/imports.js
  theforumhelpers.github.io/resources/stylesheet.css
  theforumhelpers.github.io/resources/theme.js
Labels: none

Add files via upload
  404.html
  CONTRIBUTING.md
  LICENSE
  README.md
  contributors/index.html
  forumhelpers/FHP.js
  forumhelpers/curators.json
  forumhelpers/index.html
  forumhelpers/managers.json
  forumhelpers/past.json
  index.html
  privacy/index.html
  quotes/index.html
  resources/Taco-wizard.svg
  resources/imports.js
  resources/stylesheet.css
  resources/theme.js
Labels: pr - status%3A unreviewed, type%3A Forum Helpers List, type%3A documentation

Update 404.html
  404.html
Labels: pr - status%3A unreviewed

.github/labeler.yml:

pr - status%3A unreviewed:
  - any: ['*']

type%3A Forum Helpers List:
  - forumhelpers/curators.json
  - forumhelpers/managers.json
  
type%3A documentation:
  - README.md
  - LICENSE
  - .github/**/*
  - contributors/contributors.html
